/* Main CSS file that imports all components */

/* Base */
@import url('base/reset.css');

/* Layout */
@import url('layout/header.css');
@import url('layout/sidebar.css');
@import url('layout/footer.css');
@import url('layout/main-content.css');

/* Components */
@import url('components/tables.css');
@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/fab.css');
@import url('components/adduser.css');
@import url('components/alerts.css');
@import url('components/overlay.css');

