/* Overlay for mobile sidebar */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1045;
  background: rgba(0, 0, 0, 0.5);
}

.overlay-open {
  display: block;
}

/* Dark mode overlay */
.dark-mode .overlay {
  background: rgba(0, 0, 0, 0.7);
}